body {
  background: #282828;
  color: #ffffff;
}

.main .container {
  text-align: center;
  width: 100%;
}

.main .row {
  text-align: center;
  width:100%;
}

.main .col-sm {
  text-align: center;
  width:100%;
}

.controls {
  max-width: 330px;
  margin: 0 auto;
  padding: 0;
  padding-top: 15px;
  border: #FFFFFF solid;
}

.controls div {
  padding: 0;
}

.main > .row {
  margin-bottom: 3em;
}

.separator {
  height:1em;
}

.hide {
  display: none;
}

.control {
  background-color: #FFFFFF;
  width: 28px;
  height: 28px;
  background-repeat: no-repeat;
  background-position: center;
}

.control-left {
  background-image: url('/static/img/octicons/chevron-left.svg');
}

.control-right {
  background-image: url('/static/img/octicons/chevron-right.svg');
}

.control-down {
  background-image: url('/static/img/octicons/chevron-down.svg');
}

.control-up {
  background-image: url('/static/img/octicons/chevron-up.svg');
}

#console {
  text-align: left;
}

#color-label {
  margin: 15px;
  height: 30px;
  width: 100%;
} 

#color-picker {
  background-color: white;
  height: 150px;
  width: 185px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
}

canvas:hover {
    cursor: crosshair;
}

#zone-actions {
  text-align: center;
  vertical-align: center;
}

#zone-actions button {
  display: block;
  margin: auto;
}

input.coordonate {
  width: 3em;
}

input.byte {
  width: 4em;
}

input.short {
  width: 6em;
}

#zone_controller {
  border: #FFFFFF solid;
  padding: 15px;
}

.color_controller {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: #FFFFFF solid;
  border-bottom: #FFFFFF solid;
}

.first {
  padding-left: 15px;
  border-left: #FFFFFF solid;
}

.last {
  padding-right: 15px;
  border-right: #FFFFFF solid;
}

.color_controller.last {
  margin-right:15px;
}

.ring_controller {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: #FFFFFF solid;
  border-bottom: #FFFFFF solid;
}

.light_sensor {
  background-color: rgb(255,255,255);
}

#light_sensor_value {
  color:white;
  background-color: #282828;
}

